@font-face {
  font-family: 'Alumni Sans Pinstripe';
  src: url("/fonts/AlumniSansPinstripe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni Sans Pinstripe';
  src: url("/fonts/AlumniSansPinstripe-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald'; /*variable font*/
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

body { 
    background-color: black; 
}

p {
    color: white;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 27px;
    font-weight: 200;
    text-align: center;
}

.background {
  z-index: 1; /*how you control stacking of different tags*/
}

.canvas {
  position:absolute;
  object-position: center;
  left:0;
  right:0; /*this zeroing out prevents whitespace*/
  bottom:0;
  top:0;
}

.foreground {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index: 2; /*how you control stacking of different tags*/
  min-width: max-content;
  min-height: max-content; /* supporting a buffer around the screen*/
}

.container { /*this is a placeholder right now*/
  max-width: 85vw; /*85 percent of view window width*/
  width: 75vh;
  height: fit-content;
  padding: 15px; /*can set padding the set percentages*/
  margin-top: 5vh; /*these kinda tags rep calcs() you can do*/
  margin-bottom: 20vh; /*20% view window height*/
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
}

/* images need to be tied to a parent to control them*/
/* sed to force the image to resize*/
.bannerContainer {
  width: 100%;       /* Spans full screen width */
  height: 250px;     /* Forces the banner height*/
  min-width: max-content; /*keeps the banner image from resizing with the screen*/
  max-height: max-content;
  opacity: 100%; /*make this shift gradual*/
  /*background-color: black;*/
}

.bannerImage {  
  width: 100%;       /* Shrinks image width to match container */
  height: 100%;      /* Shrinks image height to match container */
  object-fit: contain; /* Crops the top/bottom seamlessly without squishing */
  object-position: center 55%; /*image position within the frame*/
}